@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 1137px;
  height: 733px;
  margin: 0 auto;
  //border: 1px solid gray;

  .title {
    @include text800($font-size: 48px, $line-height: 1.15);
    text-transform: none;
    margin-bottom: 69px;
    

     &::after {
      content: 'Она у нас точно есть!';
      color: $main-red;
      padding-bottom: 21px;
      border-bottom: 6px solid $main-red;
    }
  }

  p {
    @include text400($font-size: 28px, $line-height: 1.15);
    margin-bottom: 20px;
    text-transform: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    width: 100%;
    margin-top: 30px;

    .card_block {
      display: flex;
      flex-direction: column;
      width: 351px;
      height: 420px;
      border-radius: 15px;
      box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);

      img {
        height: 211px;
        background-size: contain;
        margin-bottom: 8px;
        border-radius: 15px 15px 0 0;
      }

      .subtitle {
        font-weight: 700;
        font-size: 23px;
        line-height: 1.37;
        margin: 10px 20px;
        padding: 0;
      }

      .text {
        @include text400($font-size: 18px, $line-height: 1.26);
        text-transform: none;
        margin: 0 20px 10px;
      }
    }
  }
}