* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans','Inter', 'Arial', sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}

#root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  background-image: url(../images/banner-image.png);
  background-repeat: no-repeat;
  background-position-x: center;
}