@import "../../../styles/constants.scss";
@import "../../../styles/mixins.scss";

.slyder {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(150, 150, 150, 0.25);
  background: rgb(255, 255, 255);

  .info_block {
    display: flex;
    flex-direction: column;
    width: 519px;
    height: 100%;

    .date {
      @include text600($font-size: 16px, $line-height: 1.15);
      margin-bottom: 19px;
    }

    .name {
      @include text800($font-size: 24px, $line-height: 1.15);
      text-transform: none;
      margin-bottom: 12px;
    }

    .rating {
      width: 75px;
      height: 11px;
      margin-bottom: 19px;
      display: flex;
      justify-content: space-between;
    }

    .text {
      @include text400($font-size: 16px, $line-height: 1.2);
      text-transform: none;
      margin-bottom: 19px;
    }
  }

  .image_block {
    display: flex;
    justify-content: space-between;
    width: 473px;
    height: 256px;
    border: 1px solid;

    .img {
      width: 222px;
      height: 100%;
      border-radius: 15px;
      background-size: cover;
    }
  }

  .arrow {
    @include button;
    @include button-hover;
    position: absolute;
    top: 40%;
    left: -25px;
    width: 99px;
    height: 99px;
    background-image: url(../../../images/arrow.svg);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 23px 0px rgba(148, 148, 148, 0.17);
    z-index: 2;

    &:last-of-type {
      transform: rotate(180deg);
      left: 1105px;
    }
  }

  article {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    padding: 40px 45px;

    &.activeSlyde {
      opacity: 1;
      transform: translate(0);
    }

    &.lastSlyde {
      transform: translate(-100%);
    }

    &.nextSlyde {
      transform: translate(100%);
    }
  }

}
