@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-bottom: 1px solid $main-red;
  width: 100%;
  height: 42px;

  .link {
    @include text400($font-size: 20px, $line-height: 27px);
    @include button-hover;
    text-transform: uppercase;
    padding-right: 68px;
    text-decoration-line: none;
    color: black;

    &:last-of-type {
      padding: 0;
    }
  }

  .link_active {
    border-bottom: 3px solid $main-red;
    width: calc(100% - 68px);

    &:last-of-type {
      width: 100%;
    }
  }
}